body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header {
  background-color: #b39ddb;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}
.largo {display:flex;}
.largo p {padding: 1em;}
.marca {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0 12px;
}
.menu {
  padding: 1em;
  grid-area: menu;
}
nav {
  background-color: #e6ceff;
  text-align: center;
  padding: 1em;
  grid-area: nav;
}
nav p {
  margin-top: 0;
}
main {
  grid-area: main;
}
.card {
  border: solid 1px #b39ddb;
  text-align: center;
}
.imagen {
  background-image: url(descarga.jpg);
  background-size: cover;
  height: 300px;
  width: 250px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
button {
  background-color: #836fa9;
  color: white;
  margin-bottom: 1em;
  border-color: #836fa9;
}
.paginacion {grid-area: section;}
.numeros {
  display: flex;
  justify-content: center;
  align-content: center;
}
section p {
  border: 1px #836fa9 solid;
  padding: 1%;
}
footer {
  background-color: #b39ddb;
  text-align: center;
  height: 5em;
  color: white;
  grid-area: footer;
}
.iconos {
  padding: 1em;
}
footer p {
  margin-top: 0;
}


@media (min-width: 100px) {
  body {display: grid; grid-template-columns: 1fr; grid-template-areas: 
    "header"
    "nav"
    "main"
    "section"
    "footer";}
  .largo {
    display: none;
  }

}

@media (min-width: 768px) and (max-width: 1279px) {
  body {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-areas:
      "header header"
      "nav main"
      "nav main"
      "nav main"
      "nav main"
      "section section"
      "footer footer";
  }
  .menu {
    display: none;
  }
  main {display: grid; grid-template-columns: 1fr 1fr;}
  .numeros {
    display: flex;
    justify-content: center;
    align-content: center;
    grid-area: section;
  }
}
@media (min-width: 1280px) {
  main {
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  body {
    grid-template-columns: 1fr 5fr; 
    grid-template-areas:
    "header nav"
    "header main"
    "footer main"
    "footer section"; 
    max-width: 100vh;
  } 
  
  .menu {
    display: none;
  }
header {display: flex; flex-direction: column;}
  .largo {
    display: flex; flex-direction: column; padding-top: 1em;
  }
  .largo p {padding:1px}
  footer {padding: 50vh 0}
}